<% content_for :head do %>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    
<% end %>


<main class="owner">
<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="/signout" data-method="delete">
          <i class="fas fa-user" ></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="#" class="active">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="/userdash">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash">
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="/salesdash" >
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="/orderdash">
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_container">
   
    <div class="ash" style="display: flex;">
      <div class="border-scroll">
        <h1 style="color: #E62E5D;margin-left: auto;font-size:40px;" align="center">Active Menu</h1>
        <div class="item-scrollbar">
        <%menu=Menu.active()%>
        <% menu.each do |menu| %>
          <ol>
            <% Category.all.each do |category| %>
            <%item=Menuhelper.of_user(menu,category)%>
            <%if item.present? then%>
            <p style="padding: 2px;font-size: 30px;"><%= category.name %></p>
            <%end%>
            <% item.each do |item| %>
              <% cat=Menuitem.find(item.menuitem_id)%>
                <li class="menuitem">
                  <label class="menuitem-container">
                    <h3>
                      <%=cat.name%><h3 style="margin-left:15px;font-style:italic;font-size:15px;color:#E62E5D;">&#x20b9;<%=cat.price%></h3>
                    </h3>
                    
                    <img class="menuitem-image" src=<%= cat.img_url %> style="float: right;" href="" height="100" width="100">
                    
                  </label>
                </li>
            <%end%>
            
              <%end%> 
          </ol>
          <%end%>
        </div>
        <a href="/menus">
        <input class="Addsales-button" type="button" value="EDIT ALL MENUS" >
        </a>
      </div>
      
      <div class="border-scroll">
        <h1 style="color: #E62E5D;margin-left: auto;font-size:40px;" align="center">All Menu Items</h1>
        <div class="item-scrollbar">
          <ol>
            <% Category.all.each do |category| %>
            <p style="padding: 2px;font-size: 30px;"><%= category.name %></p>
            <%menu= category.menuitems%>
            <% menu.each do |menu| %>
                <li class="menuitem">
                  <label class="menuitem-container">
                    <input class="menuitem-checkbox" type="checkbox" >
                      <%=menu.name%>
                      <h3 style="margin-left:15px;font-style:italic;font-size:15px;color:#E62E5D;">&#x20b9;<%=menu.price%></h3>
                      <a href="javascript:void(0)">
                        <%= form_with(url: "/menuitems/#{menu.id}" , method: "DELETE" ) do %>
                        <button style="background-color:Transparent;border:none">
                        <i class="	fas fa-trash" style="margin-left:30px;color:#E62E5D;font-size:15px;"type=submit ></i>
                        </button>
                        <%end%>
                      </a>
                    <img class="menuitem-image" src=<%= menu.img_url %> style="float: right;" href="" height="100" width="100">
                    
                  </label>
                </li>
                <%end%>
              <%end%> 
          </ol>
        </div>
      </div>
    </div>  
    <div class="editmenuitem">
        <h2 align="center"style="font-size:30px;">EDIT ALL MENU ITEMS</h2>
    </div>
    <div class="ash" style="display: flex;">
        <div class="categorya">
          <h1 align="center" style="font-weight:400px;font-size:30px;">Create a new Category</h1>
          <%= form_with(url: "/categories", method: "POST") do %>
          <input class="addcategory-text" type="text" placeholder="Name" name="name">
          <input class="addclerk-button" type="submit" value="Add" >
          <%end%>
        </div>
        <div class="categoryb">
          <h1 align="center" style="font-weight:400px;font-size:30px;">Add a new Menu Item</h1>
          <%= form_with(url: "/menuitems", method: "POST") do %>
          <section style="display: flex;align-items: center;">
            <h3>Category name</h3>
            <select id="user_id" name="category" class="select-category">
              <option value="">Choose a Category</option>
              <% Category.all.each do |category| %> 
              <option value="<%=category.name%>"><%=category.name%></option>
              <%end%>
            </select>
          </section>
          <section style="display: flex;align-items: center;">
            <h3>MenuItem Name</h3>
            <input class="addmenuitem-text" type="text" placeholder="Name" name="name">
          </section>
          <section style="display: flex;align-items: center;">
            <h3>Price</h3>
            <input class="addmenuitem-text" type="text" placeholder="Name" name="price">
          </section>
          <section style="display: flex;align-items: center;">
            <h3>Image url</h3>
            <input class="addmenuitem-text" type="text" placeholder="Name" name="url">
          </section>
          <input class="addmenuitem-button" type="submit" value="Add" >
          <%end%>
        </div>
      </div>
  </div>
  
    
</main>

 