
<main class="usersdash">
    
<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="/signout" data-method="delete">
          <i class="fas fa-user" ></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="/owner" class="active">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="/userdash">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash">
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="/salesdash" >
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="/orderdash">
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  <div class="main_container">
      <div class="ash" style="display: flex;">
     <% Menu.all.each do |menu| %>
      <div class="border-scroll">
        
        <h1 style="color: #E62E5D;margin-left: auto;font-size:40px;" align="center"><%= menu.name %></h1>
        <div class="item-scrollbar">
        
        
          <ol>
            <% Category.all.each do |category| %>
            <%item=Menuhelper.of_user(menu,category)%>
            <%if item.present? then%>
            <p style="padding: 2px;font-size: 30px;"><%= category.name %></p>
            <%end%>
            <% item.each do |item| %>
              <% cat=Menuitem.find(item.menuitem_id)%>
                <li class="menuitem">
                  <label class="menuitem-container">
                    <h3>
                      <%=cat.name%><h3 style="margin-left:15px;font-style:italic;font-size:15px;color:#E62E5D;">&#x20b9;<%=cat.price%></h3></h3>
                    <img class="menuitem-image" src=<%= cat.img_url %> style="float: right;" href="" height="100" width="100">
                    
                  </label>
                </li>
            <%end%>
            
              <%end%> 
          </ol>
          
        </div>
      </div>
      <%end%>
    </div>
  </div>
</main>